button {
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #2c7be5;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a5edb;
}

#map {
    height: 75vh;
    width: 100%;
}
.wind-box {
    background: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    text-align: center;
}

.wind-arrow {
    font-size: 45px;
}
