button {
    font-size: 16px;
    padding: 10px 16px;
}

@media (max-width: 600px) {
    button {
        font-size: 18px;
        padding: 12px 18px;
    }
}

#map {
    height: 75vh;
    width: 100%;
}
.wind-box {
    background: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    text-align: center;
}

.wind-arrow {
    font-size: 45px;
}
   #windInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    z-index: 1000;
}
.bike-icon {
    background: transparent;
    border: none;
}
.search-box{
    position:relative;
    width:300px;
}


#destination{
    width:100%;
    padding:8px;
    font-size:16px;
}


#suggestions{
    position:absolute;
    top:42px;
    left:0;
    background:white;
    width:100%;
    z-index:3000;
    border:1px solid #ccc;
}


.suggestion{

    padding:8px;
    border-bottom:1px solid #ddd;
    cursor:pointer;

}


.suggestion:hover{

    background:#eee;

}    
